<mat-form-field class="example-form-field" *ngFor="let timestampFacility of timestampFacilities | async; let i=index">
  <div *ngIf="i==0" class="seanceTitle" >Votre séance du {{ convertIntoDate(timestampFacility.dateOfTimestamp) }} : </div>
  <input matInput type="text" readonly placeholder="{{ timestampFacility.nameFacility }} : {{ convertIntoTime(timestampFacility.dateOfTimestamp) }}" >
  <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onDeleteTimestamp(i, timestampFacility.idTimestampFacility)">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field> 

<br>
Total séance : {{ totalPriceSeance }} €
<br>
  <div style="text-align: center;" *ngIf="isEmptySeance===false">
    <button mat-raised-button color="accent" (click)="onValidateSeance()">Valider séance</button>
  </div>


  


  