
      

<mat-accordion>
    <mat-expansion-panel *ngFor="let facilityCategory of listFacilityCategories | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
             {{ facilityCategory.facilityCategoryName }} ({{ facilityCategory.quantityAvailable }} )
        </mat-panel-title>
      </mat-expansion-panel-header>
  

      <table>
        <tr *ngFor="let facility of facilityCategory.facilities">
          <td><a mat-flat-button (click)="onBookingFacility()">{{ facility.facilityName }}</a></td>
        </tr>
      </table>
      
  
    </mat-expansion-panel>
  </mat-accordion>
