
      
<mat-accordion *ngIf="!isBookedTimestamp">
      <mat-expansion-panel *ngFor="let facilityCategory of listFacilityCategories | async">
          
          <mat-expansion-panel-header *ngIf="facilityCategory.quantityAvailable > 0">
            <mat-panel-title>
                {{ facilityCategory.nameFacilityCategory }} (dispo : {{ facilityCategory.quantityAvailable }} )
            </mat-panel-title>
          </mat-expansion-panel-header>
      

          <table>
            <tr *ngFor="let facility of facilityCategory.facilities">
              <td><a mat-flat-button (click)="onBookingFacility(facility.nameFacility, facilityCategory.nameFacilityCategory, facilityCategory.priceFacilityCategory)">{{ facility.nameFacility }}</a> : ({{ facilityCategory.priceFacilityCategory }} €)</td>
            </tr>
          </table>   
        
    </mat-expansion-panel>
  </mat-accordion>

  <div *ngIf="isBookedTimestamp">
    Votre équipement est réservé pour cette tranche horaire.
  </div>
  
  <div *ngIf="isNotAvailableFacilities">
    Tous les équipements sont réservés
  </div>

  